@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-div-icon {
  background-image: url('/marker-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.leaflet-div-icon-2x {
  background-image: url('/marker-icon-2x.png');
}

.leaflet-shadow-icon {
  background-image: url('/marker-shadow.png');
}
